<h1><%= t('link.makenew') %></h1>
<%= form_tag(input_input_path,:method => :post) do %>
<%= text_area_tag 'string', '', :class => 'string_textarea' ,:style => 'width:100%' %>
<%= submit_tag "登録" ,:class => "btn btn-primary"%>
<% end %>
